
<footer id="contact-us" class="text-center text-lg-start text-white" style="background-color: rgb(49, 49, 49)">
    <div class="container p-4 pb-0">
        <section class="">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        Temasek Polytechnic
                    </h6>
                    <p>
                        Situated in Tampines next to the idyllic Bedok Reservoir, Temasek Polytechnic is a leading institution of higher learning in Singapore.
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>
                    <p><i class="fas fa-home mr-3"></i> 21 Tampines Ave 1, Singapore 529757</p>
                    <p><i class="fas fa-phone mr-3"></i> +65 67882000</p>
                </div>
            </div>
        </section>

        <hr class="my-3">

        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                </div>
            </div>
        </section>
    </div>
</footer>