<div class="form-container">
    <form class="was-validated">
        <h1>Body Composition</h1>
        <br>
        <div class="form-group">
            <label>Height(CM) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br><label>Body Mass(KG) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br>
            <label>Body Fat(%) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br>
            <label>Muscle Mass(KG) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br>
        </div>
        <br>
    </form>

    <button class="btn btn-primary" type="submit"> Submit </button>
    <br>
    <br>
</div>