<div class="form-container">
    <form class="was-validated">
        <h1>Anaerobic Sprint</h1>
        <br>
        <div class="form-group">
            <label>Lap 1(Seconds) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br><label>Lap 2(Seconds)</label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br>
            <label>Lap 3(Seconds) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br>
            <label>Lap 4(Seconds) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br>
            <label>Lap 5(Seconds) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br>
            <label>Lap 6(Seconds) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <br>
    </form>

    <button class="btn btn-primary" type="submit"> Submit </button>
    <br>
    <br>
</div>