<div class="form-container">
    <form class="was-validated">
        <h1>Anaerobic Sprint</h1>
        <br>
        <div class="form-group">
            <label>Lap 1(Seconds) </label>
            <input class="form-control" type="number" step="0.01"required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><label>Lap 2(Seconds)</label>
            <input class="form-control" type="number" step="0.01"required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br>
            <label>Lap 3(Seconds) </label>
            <input class="form-control" type="number" step="0.01"required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br>
            <label>Lap 4(Seconds) </label>
            <input class="form-control" type="number" step="0.01" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br>
            <label>Lap 5(Seconds) </label>
            <input class="form-control" type="number" step="0.01" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br>
            <label>Lap 6(Seconds) </label>
            <input class="form-control" type="number" step="0.01" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
    </form>
    <button class="btn btn-dark" type="submit" style="margin-right: 20px;">Submit</button>
    <button class="btn btn-dark" type="submit">Save</button> 
</div>



<style>
    .form-container {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 20px;
        /* Add margin at the bottom of the form container */
    }
</style>