<div class="form-container">
    <form class="was-validated">
        <h1>Medicine Ball</h1>
        <br>
        <h2>Forward Chest</h2>
        <div class="form-group">
            <label>1st Attempt(CM) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br><label>2nd Attempt(CM) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <br>
    </form>

    <button class="btn btn-primary" type="submit"> Submit </button>
    <br>
    <br>
</div>