<div class="form-container">
    <form class="was-validated">
        <h1>Intermittent Recovery</h1>
        <br>
        <div class="form-group">
            <label>Level </label>
            <br><br>
            <input class="form-control" type="number" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <br>
    </form>

    <button class="btn btn-primary" type="submit" style="margin-right: 20px;">Submit</button>
    <button class="btn btn-primary" type="submit">Save</button>
    <br>
    <br>
</div>