<div class="form-container">
    <form class="was-validated">
        <h1>Intermittent Recovery</h1>
        <br>
        <div class="form-group">
            <label>Level </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br><label>Distance(M) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br><br>
            <label>VO2Max(Ml/Kg/Min) </label>
            <br><br>
            <input class="form-control" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <br>
    </form>

    <button class="btn btn-primary" type="submit"> Submit </button>
    <br>
    <br>
</div>