<form [formGroup]="form">
<div class="container-fluid">
    <div class="row">
        <!-- Student and Station Detail Panel Start-->
        <div class="form-container col-md-5">
            <h1> <img src="assets/tp.jpeg" alt="Logo" style="width: 50px; height: 50px; margin-right: 10px;"> TP Sports Performance</h1>
            <form class="was-validated">
                <h2>Student Details</h2>
                <div class="form-group">
                    <label>Test Type </label>
                    <select class="form-select" placeholder="Enter Test Type" required>
                        <option value="1">Base</option>
                        <option value="2">Pre</option>
                        <option value="3">Post</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label>Athlete Name</label>
                    <select #athleteSelect class="form-select" placeholder="Choose Athlete" (change)="athleteChange(athleteSelect.value)" required>
                        <option *ngFor="let athlete of athletesData; let i = index" value="{{i}}">{{ athlete.athlete_name }}</option>
                    </select>
                </div>
                <br>
                <h2>Station Details</h2>
                <div class="form-group">
                    <label>Station </label>
                    <select #stationSelect class="form-select" (change)="stationChange(stationSelect.value)" required>
                        <option value="Body Composition">Body Composition</option>
                        <option value="Vertical Jump">Vertical Jump</option>
                        <option value="Medicine Ball">Medicine Ball</option>
                        <option value="Illinois Agility">Illinois Agility</option>
                        <option value="Anaerobic Sprint">Anaerobic Sprint</option>
                        <option value="Intermittent Recovery">Intermittent Recovery</option>
                        <option value="Hand eye Coordination">Hand eye Coordination</option>
                        <option value="20m Sprint">20m Sprint</option>
                    </select>
                </div>
                <br>
            </form>
            <!-- <button (click)="submit()" class="btn btn-dark" style="margin-right: 20px;">Submit</button> -->
        </div>
        <!-- Student and Station Detail Panel End-->
    
        <!-- Body Composition Panel Start-->
        <div *ngIf="currentStation == 'Body Composition'" class="form-container col-md-7 station-bg">
                <h1>Body Composition</h1>
                <br>
                <div>
                    <label>Height (CM) </label>
                    <br>
                    <input formControlName="height_cm" class="form-control" type="number" required>
                    <br><label>Body Mass (KG) </label>
                    <input formControlName="body_mass_kg" class="form-control" type="number" step="0.01" required>
                    <br>
                    <label>Body Fat (%) </label>
                    <input formControlName="body_fat_percentage" class="form-control" type="number" step="0.01" required>
                    <br>
                    <label>Muscle Mass (KG) </label>
                    <input formControlName="muscle_mass_kg" class="form-control" type="number" step="0.01" required>
                </div>
                <br>
            <button (click)="save()" class="btn btn-dark">Save</button>
        </div>
        <!-- Body Composition Panel End-->

        <!-- Vertical Jump Panel Start-->
        <div *ngIf="currentStation == 'Vertical Jump'" class="form-container col-md-7 station-bg">
                <h1>Vertical Jump</h1>
                <br>
                <div>
                    <label>1st Attempt (CM) </label>
                    <input formControlName="vert_jump_cm_1" class="form-control" type="number" step="0.01" required>
                    <br><br><label>2nd Attempt (CM) </label>
                    <input formControlName="vert_jump_cm_2" class="form-control" type="number" step="0.01"required>
                </div>
                <br>
            <button (click)="save()" class="btn btn-dark">Save</button>
        </div>
        <!-- Vertical Jump Panel End-->

        <!-- Medicine Ball Panel Start-->
        <div *ngIf="currentStation == 'Medicine Ball'" class="form-container col-md-7 station-bg">
                <h1>Medicine Ball (Forward Chest)</h1>
                <br>
                <div>
                    <label>Ball weight </label>
                    <select formControlName="med_ball_weight_kg" class="form-select" placeholder="Enter Weight" required>
                        <option value="3">3 Kg</option>
                        <option value="4">4 Kg</option>
                        <option value="5">5 Kg</option>
                    </select>
                    <br>
                    <label>1st Attempt (CM) </label>
                    <input formControlName="med_ball_chest_cm_1" class="form-control" type="number" step="0.01" required>
                    <br><label>2nd Attempt (CM) </label>
                    <input formControlName="med_ball_chest_cm_2" class="form-control" type="number" step="0.01" required>
                </div>
                <br>
            <button (click)="save()" class="btn btn-dark">Save</button>
        </div>
        <!-- Medicine Ball Panel End-->

        <!-- Illinois Agility Panel Start-->
        <div *ngIf="currentStation == 'Illinois Agility'" class="form-container col-md-7 station-bg">
                <h1>Illinois Agility</h1>
                <br>
                <div class="form-group">
                    <label>1st Attempt (Seconds) </label>
                    <input formControlName="illinois_sec_1" class="form-control" type="number" step="0.01" required>
                    <br><label>2nd Attempt (Seconds) </label>
                    <input formControlName="illinois_sec_2" class="form-control" type="number" step="0.01" required>
                </div>
            <button (click)="save()" class="btn btn-dark">Save</button>
        </div>
        <!-- Illinois Agility Panel End-->

        <!-- Anaerobic Sprint Panel Start-->
        <div *ngIf="currentStation == 'Anaerobic Sprint'" class="form-container col-md-7 station-bg">
                <h1>Anaerobic Sprint</h1>
                <br>
                <div>
                    <label>Lap 1 (Seconds) </label>
                    <input formControlName="anaerobic_sec_1" class="form-control" type="number" step="0.01"required>
                    <br><label>Lap 2 (Seconds)</label>
                    <input formControlName="anaerobic_sec_2" class="form-control" type="number" step="0.01"required>
                    <br>
                    <label>Lap 3 (Seconds) </label>
                    <input formControlName="anaerobic_sec_3" class="form-control" type="number" step="0.01"required>
                    <br>
                    <label>Lap 4 (Seconds) </label>
                    <input formControlName="anaerobic_sec_4" class="form-control" type="number" step="0.01" required>
                    <br>
                    <label>Lap 5 (Seconds) </label>
                    <input formControlName="anaerobic_sec_5" class="form-control" type="number" step="0.01" required>
                    <br>
                    <label>Lap 6 (Seconds) </label>
                    <input formControlName="anaerobic_sec_6" class="form-control" type="number" step="0.01" required>
                </div>
                <br>
            <button (click)="save()" class="btn btn-dark">Save</button>
        </div>
        <!-- Anaerobic Sprint Panel End-->

        <!-- Intermittent Recovery Panel Start-->
        <div *ngIf="currentStation == 'Intermittent Recovery'" class="form-container col-md-7 station-bg">
                <h1>Intermittent Recovery</h1>
                <br>
                <div>
                    <label>Level</label>
                    <input formControlName="recovery_level" class="form-control" type="number" required>
                </div>
                <br>
            <button (click)="save()" class="btn btn-dark">Save</button>
        </div>
        <!-- Intermittent Recovery Panel End-->

        <!-- Hand eye Coordination Panel Start-->
        <div *ngIf="currentStation == 'Hand eye Coordination'" class="form-container col-md-7 station-bg">
                <h1>Hand eye Coordination</h1>
                <br>
                <div>
                    <label>1st Attempt (Successful Catches) </label>
                    <input formControlName="hand_eye_coord_1" class="form-control" type="number" step="0.01" required>
                    <br><label>2nd Attempt (Successful Catches) </label>
                    <input formControlName="hand_eye_coord_2" class="form-control" type="number" step="0.01" required>
                </div>
                <br>
            <button (click)="save()" class="btn btn-dark">Save</button>
        </div>
        <!-- Hand eye Coordination Panel End-->

        <!-- 20m Sprint Panel Start-->
        <div *ngIf="currentStation == '20m Sprint'" class="form-container col-md-7 station-bg">
                <h1>20m Sprint</h1>
                <br>
                <div>
                    <label>1st Attempt (Seconds) </label>
                    <input formControlName="twenty_meter_sprint_sec_1" class="form-control" type="number" step="0.01" required>
                    <br><label>2nd Attempt (Seconds) </label>
                    <input formControlName="twenty_meter_sprint_sec_2" class="form-control" type="number" step="0.01" required>
                </div>
                <br>
            <button (click)="save()" class="btn btn-dark">Save</button>
        </div>
        <!-- 20m Sprint Panel End-->

    </div>
</div>
</form>


    <style>
        .form-container {
            padding: 60px;
            margin: 0 auto;
        }
        .station-bg {
            background-color: #E2F1E5;
        }
    </style>
