<div class="container-fluid">
    <div class="row">
        <!-- Student and Station Detail Panel Start-->
        <div class="form-container col-md-5">
            <h1> <img src="assets/tp.jpeg" alt="Logo" style="width: 50px; height: 50px; margin-right: 10px;"> <strong>TP
                    Sports Performance</strong> </h1>
            <form class="was-validated">
                <h2><strong>Student Details</strong></h2>
                <div class="form-group">
                    <label>Test Type </label>
                    <select class="form-select" placeholder="Enter Test Type" required>
                        <option value="1">Base</option>
                        <option value="2">Pre</option>
                        <option value="3">Post</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label>Athlete Name</label>
                    <select class="form-select" placeholder="Choose Athlete" required>
                        <option value="1">Base</option>
                        <option value="2">Pre</option>
                        <option value="3">Post</option>
                    </select>
                </div>
                <br>
                <h2><strong>Station Details</strong></h2>
                <div class="form-group">
                    <label>Station </label>
                    <select #stationSelect class="form-select" (change)="stationChange(stationSelect.value)" required>
                        <option value="Body Composition">Body Composition</option>
                        <option value="Vertical Jump">Vertical Jump</option>
                        <option value="Medicine Ball">Medicine Ball</option>
                        <option value="Illinois Agility">Illinois Agility</option>
                        <option value="Anaerobic Sprint">Anaerobic Sprint</option>
                        <option value="Intermittent Recovery">Intermittent Recovery</option>
                        <option value="Hand eye Coordination">Hand eye Coordination</option>
                        <option value="20m Sprint">20m Sprint</option>
                    </select>
                </div>
                <br>
            </form>
            <button class="btn btn-dark" type="submit" style="margin-right: 20px;">Submit</button>
        </div>
        <!-- Student and Station Detail Panel End-->

        <!-- Body Composition Panel Start-->
        <div *ngIf="currentStation == 'Body Composition'" class="form-container col-md-7 station-bg">
            <form class="was-validated">
                <h1><strong>Body Composition</strong> </h1>
                <br>
                <div class="form-group">
                    <label>Height (CM) </label>
                    <br>
                    <input class="form-control" type="number" min="1" required>
                    <br><label>Body Mass (KG) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br>
                    <label>Body Fat (%) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br>
                    <label>Muscle Mass (KG) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                </div>
            </form>
            <button class="btn btn-dark" type="submit">Save</button>
        </div>
        <!-- Body Composition Panel End-->

        <!-- Vertical Jump Panel Start-->
        <div *ngIf="currentStation == 'Vertical Jump'" class="form-container col-md-7 station-bg">
            <form class="was-validated">
                <h1> <strong>Vertical Jump</strong></h1>
                <br>
                <div class="form-group">
                    <label>1st Attempt (CM) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br><br><label>2nd Attempt (CM) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                </div>
                <br>
            </form>
            <button class="btn btn-dark" type="submit">Save</button>
        </div>
        <!-- Vertical Jump Panel End-->

        <!-- Medicine Ball Panel Start-->
        <div *ngIf="currentStation == 'Medicine Ball'" class="form-container col-md-7 station-bg">
            <form class="was-validated">
                <h1> <strong>Medicine Ball (Forward Chest)</strong></h1>
                <br>
                <div class="form-group">
                    <label>Ball weight </label>
                    <select class="form-select" placeholder="Enter Weight" required>
                        <option value="1">3 Kg</option>
                        <option value="2">4 Kg</option>
                        <option value="3">5 Kg</option>
                    </select>
                    <br>
                    <label>1st Attempt (CM) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br><label>2nd Attempt (CM) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                </div>
                <br>
            </form>
            <button class="btn btn-dark" type="submit">Save</button>
        </div>
        <!-- Medicine Ball Panel End-->

        <!-- Illinois Agility Panel Start-->
        <div *ngIf="currentStation == 'Illinois Agility'" class="form-container col-md-7 station-bg">
            <form class="was-validated">
                <h1> <strong>Illinois Agility</strong></h1>
                <br>
                <div class="form-group">
                    <label>1st Attempt (Seconds) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br><label>2nd Attempt (Seconds) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                </div>
            </form>
            <button class="btn btn-dark" type="submit">Save</button>
        </div>
        <!-- Illinois Agility Panel End-->

        <!-- Anaerobic Sprint Panel Start-->
        <div *ngIf="currentStation == 'Anaerobic Sprint'" class="form-container col-md-7 station-bg">
            <form class="was-validated">
                <h1> <strong>Anaerobic Sprint</strong></h1>
                <br>
                <div class="form-group">
                    <label>Lap 1 (Seconds) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br><label>Lap 2 (Seconds)</label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br>
                    <label>Lap 3 (Seconds) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br>
                    <label>Lap 4 (Seconds) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br>
                    <label>Lap 5 (Seconds) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br>
                    <label>Lap 6 (Seconds) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                </div>
            </form>
            <button class="btn btn-dark" type="submit">Save</button>
        </div>
        <!-- Anaerobic Sprint Panel End-->

        <!-- Intermittent Recovery Panel Start-->
        <div *ngIf="currentStation == 'Intermittent Recovery'" class="form-container col-md-7 station-bg">
            <form class="was-validated">
                <h1> <strong>Intermittent Recovery</strong></h1>
                <br>
                <div class="form-group">
                    <label>Level</label>
                    <input class="form-control" type="number" min="1" required>
                </div>
            </form>
            <button class="btn btn-dark" type="submit">Save</button>
        </div>
        <!-- Intermittent Recovery Panel End-->

        <!-- Hand eye Coordination Panel Start-->
        <div *ngIf="currentStation == 'Hand eye Coordination'" class="form-container col-md-7 station-bg">
            <form class="was-validated">
                <h1> <strong>Hand eye Coordination</strong></h1>
                <br>
                <div class="form-group">
                    <label>1st Attempt (Successful Catches) </label>
                    <input class="form-control" type="number" min="0" required>
                    <br><label>2nd Attempt (Successful Catches) </label>
                    <input class="form-control" type="number" min="0" required>
                </div>
            </form>
            <button class="btn btn-dark" type="submit">Save</button>
        </div>
        <!-- Hand eye Coordination Panel End-->

        <!-- 20m Sprint Panel Start-->
        <div *ngIf="currentStation == '20m Sprint'" class="form-container col-md-7 station-bg">
            <form class="was-validated">
                <h1> <strong>20m Sprint</strong></h1>
                <br>
                <div class="form-group">
                    <label>1st Attempt (Seconds) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                    <br><label>2nd Attempt (Seconds) </label>
                    <input class="form-control" type="number" step="0.01" min="1" required>
                </div>
            </form>
            <button class="btn btn-dark" type="submit">Save</button>
        </div>
        <!-- 20m Sprint Panel End-->

    </div>
</div>


<style>
    .form-container {
        padding: 60px;
        margin: 0 auto;
        font-family: 'Filson Pro', sans-serif;

    }

    .station-bg {
        background-color: #E2F1E5;
    }
</style>